
* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}

.center {
    text-align: center;
    align-items: center;
}


.home-content {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    text-align: center;
    position: absolute;
    z-index: 2;
}

.home-content>p {
    color: rgb(255, 255, 255);
    font-size: 24px;
    color: #ffffff;
    margin: 0 0 15px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
}
 
#home-section {
   
    position: relative;
}


#home-section:before { 
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../img/money-around-world.jpg");
    height: 500px;
    background-position: 50% 0;
}

.black-overlay::before {
    
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    
}

.home-content> h1 {
    font-size: 35px;
    padding-top: 30px;
}